@import '../../custom.scss';

.auth-login {
  .user_card {
    @extend .bg-dark;
    height: 400px;
    width: 350px;
    margin-top: 150px;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }

  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: theme-color('light');
    padding: 10px;
    text-align: center;
  }

  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid theme-color('dark');
    object-fit: contain;
    padding: 2%
  }

  .form_container {
    margin-top: 100px;
  }
}
